# API (백엔드 proxy. 공공데이터 유기동물 API 도 이 경로로 호출)
NEXT_PUBLIC_API_BASE_URL=https://fmp.platformholder.site/api/v1

# Kakao
NEXT_PUBLIC_KAKAO_JS_API_KEY=
NEXT_PUBLIC_AUTH_URL=https://auth.platformholder.site/oauth2/authorization/2

# Google (optional)
NEXT_PUBLIC_GOOGLE_ANALYTICS=
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
